/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 12px; /* Scrollbar width */
}

::-webkit-scrollbar-track {
  background: #000; /* Track (background) */
}

::-webkit-scrollbar-thumb {
  background-color: #111; /* Scroll handle */
  border-radius: 6px; /* Rounded corners */
  border: 2px solid #000; /* Optional: space between track and handle */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #222; /* Slightly lighter on hover */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #111 #000; /* thumb color | track color */
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("wallpaper.jpg");
  color: #e5e5e5;
  font-family: "JetBrainsMono Nerd Font", "Fira Code", monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:root {
  --primary-color: #a76eff;
  --lighter-primary-color: #c39efb;
  --border-color: #383838;
  --secondary-color: #555;
}

#life-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: black;
}

.container {
  display: flex;
  width: 90%;
  padding: 0 1rem;
  max-width: 1000px;
  border: 1px solid black;
  border-top: none;
  border-bottom: none;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  text-shadow: var(--primary-color) 1px 0 10px;
}

a:hover {
  text-decoration: underline;
}

.sidebar {
  position: sticky;
  margin-top: 1rem;
  top: 1rem;
  align-self: flex-start;
  height: fit-content;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.sidebar-bottom {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.profile-pic {
  aspect-ratio: 1 / 1;
  border: 1px solid var(--primary-color);
  box-shadow: var(--primary-color) 1px 0 5px;
  max-width: 200px;
  max-height: 200px;
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5rem 0;
  padding: 0.5rem;
  text-align: center;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  background-color: black;
  border: 2px solid var(--border-color);
}

.root {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.socials {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.links p {
  margin: 0.5rem 0;
}

#now-playing {
  font-size: 0.9rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.5rem;
  background-color: black;
  border: 2px solid var(--border-color);
}

#now-playing img {
  max-width: 100%;
  max-height: 100%;
}

#now-playing p {
  margin: 0;
  line-height: 1.2;
  max-width: 200px;
}

.separator-vertical {
  width: 1px;
  background-image: repeating-linear-gradient(
    to bottom,
    var(--secondary-color) 0,
    var(--secondary-color) 1em,
    transparent 1em,
    transparent 2em
  );
  margin: 0 1rem;
  background-size: 100% 2em;
  background-repeat: repeat-y;
}

.main-content {
  flex: 1;
  min-width: 0;
  margin: 1rem 0 0 0;
  height: auto;
}

.section {
  margin-bottom: 1rem;
  background-color: black;
  border: 2px solid var(--border-color);
  padding: 1rem;
}

.section h2,
.section span {
  color: var(--primary-color);
  text-shadow: var(--primary-color) 1px 0 10px;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.md-separator {
  height: 1px;
  background-image: repeating-linear-gradient(
    to right,
    var(--secondary-color) 0,
    var(--secondary-color) 0.6ch,
    transparent 0.6ch,
    transparent 1ch
  );
  background-size: 1ch 100%;
  background-repeat: repeat-x;
  margin: 0.5rem 0 1rem;
}

.project {
  margin: 1rem 0;
}

.project a {
  color: var(--primary-color);
  text-shadow: var(--primary-color) 1px 0 10px;
}

.project span {
  color: var(--lighter-primary-color);
  text-shadow: var(--lighter-primary-color) 1px 0 10px;
}

.section p {
  line-height: 1.25;
  margin: 1rem 0;
}

.footer {
  text-align: center;
  padding: 1rem 0;
  font-size: small;
}

.footer span {
  color: var(--primary-color);
  text-shadow: var(--primary-color) 1px 0 10px;
}

.footer a {
  text-decoration: none;
}

@media (max-width: 750px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    position: static; /* Disable sticky */
    top: auto; /* Reset top */
    align-self: auto; /* Reset align-self */
    max-width: 100%; /* Full width */
    height: auto; /* Reset height */
    padding: 1rem 0; /* Optional padding for spacing */
  }

  .sidebar-bottom {
    display: flex;
    flex-direction: row; /* Stack horizontally */
    justify-content: center; /* Center items */
    width: 100%; /* Full width */
    padding: 0.5rem 0;
    border: 1px solid black;
  }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .separator-vertical {
    display: none;
  }

  .sidebar {
    align-items: center;
    text-align: center;
  }

  .main-content {
    width: 100%;
  }

  #now-playing {
    height: 100%;
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #now-playing p {
    padding: 0.5rem 0;
  }
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .links {
    background-color: black;
    flex-direction: row;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  .sidebar {
    background-color: transparent;
    position: static; /* Disable sticky */
    top: auto; /* Reset top */
    align-self: auto; /* Reset align-self */
    max-width: 100%; /* Full width */
    height: auto; /* Reset height */
    padding: 1rem 0; /* Optional padding for spacing */
  }

  .sidebar-bottom {
    flex-direction: column; /* Stack horizontally */
    justify-content: center; /* Center items */
    align-items: center;
    width: 100%; /* Full width */
    padding: 0.5rem 0;
    border: 1px solid black;
  }

  #now-playing {
    background-color: black;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-evenly;
    width: 100%;
  }

  #now-playing img {
    max-width: 100px;
  }

  .separator-vertical {
    display: none;
  }

  .sidebar {
    align-items: center;
    text-align: center;
  }

  .main-content {
    width: 100%;
  }
}

@media (max-width: 310px) {
  .links {
    display: flex;
    flex-direction: column;
  }

  #now-playing {
    display: flex;
    flex-direction: column;
  }
}
